.register-image {
  display: block;
  width: 100%;
}

.register-form {
  padding: 20px;
}

.h2 {
  display: inline-block;
}

.container {
  padding: 0;
}

.form-control {
  position: relative;
}

.form-control span {
  position: absolute;
  top: 90%;
  left: 10%;
  bottom: 0;
  font-size: 0.8em;
  color: crimson;
}

.form-control h2 {
  width: 80%;
}

.form-control-submit {
  justify-content: flex-end;
  width: 90%;
}

.form-control-submit input {
  width: 50%;
}
